name: Deploy Templatized Data Environment
on:
  pull_request:
    types: [closed]
    branches:
      - staging
      - main
  push:
    branches:
      - staging
      - main
jobs:
  deploy_data_environment:
    # Only run when PR is merged or on direct push to environment branches
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    env:
      # Updated connection secret with private key authentication
      SNOWFLAKE_CONNECTIONS_ADVANCED_DATA_ENGINEERING_SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_CONNECTIONS_ADVANCED_DATA_ENGINEERING_SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_CONNECTIONS_ADVANCED_DATA_ENGINEERING_SNOWFLAKE_PRIVATE_KEY: ${{ secrets.SNOWFLAKE_PRIVATE_KEY }}
    steps:
      # Checkout step is necessary to access repository files
      - name: Checkout repository
        uses: actions/checkout@v4
      
      # Determine environment based on target branch
      - name: Set environment
        id: set_env
        run: |
          TARGET_BRANCH="${GITHUB_BASE_REF:-${GITHUB_REF#refs/heads/}}"
          
          if [[ $TARGET_BRANCH == "staging" ]]; then
            echo "DEPLOY_ENV=staging" >> $GITHUB_ENV
            echo "SNOWFLAKE_BRANCH=staging" >> $GITHUB_ENV
            echo "Environment set to staging"
          elif [[ $TARGET_BRANCH == "main" ]]; then
            echo "DEPLOY_ENV=prod" >> $GITHUB_ENV
            echo "SNOWFLAKE_BRANCH=main" >> $GITHUB_ENV
            echo "Environment set to production"
          else
            echo "Unexpected branch: $TARGET_BRANCH"
            exit 1
          fi
      
      # Install Snowflake CLI GitHub Action and point to config file
      - name: Install SnowflakeCLI
        uses: snowflakedb/snowflake-cli-action@v1.5
        with:
          cli-version: "latest"
          default-config-file-path: "config.toml"
      

      # Fetch latest changes from the repository to Snowflake
      - name: Fetch latest changes to Snowflake
        run: snow git fetch COURSE_REPO.PUBLIC.advanced_data_engineering_snowflake
      
      # Deploy templates to the data environment
      - name: Deploy templates to data environment
        run: |
          echo "Using environment: $DEPLOY_ENV"
          echo "Using branch: $SNOWFLAKE_BRANCH"
          
          snow git execute @COURSE_REPO.PUBLIC.advanced_data_engineering_snowflake/branches/$SNOWFLAKE_BRANCH/module-1/hamburg_weather/pipeline/data/ \
          -D "env='$DEPLOY_ENV'"
          --database=COURSE_REPO \
          --schema=PUBLIC
